<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>LOGIN</h2>
    <form th:action="@{/login}" method="post">
        <fieldset>
            <table>
                <tr>
                    <td>
                        <label for="usuario">Usuário:</label>
                    </td>
                    <td>
                        <input type="text" id="usuario" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="senha">Senha:</label>
                    </td>
                    <td>
                        <input type="password" id="senha" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Entrar" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Não possui conta? <a href="cadastro.html">Cadastre-se</a>
                    </td>
                </tr>
            </table>
            <p th:if="${param.error}">
                Usuário ou senha inválidos!
            </p>
            <p th:if="${param.logout}">
                Você foi desconectado(a)!
            </p>
        </fieldset>
    </form>
</body>
</html>